{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Home{% endblock %}

{% block content %}

    {% render 'CumtsMainBundle:Default:block' with {block_name: 'home'} %}

<div style="width:420px">
<a class="twitter-timeline" data-dnt=true href="https://twitter.com/CUMTS" data-widget-id="258728331938238464">Tweets by @CUMTS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


{% endblock %}
