{% set current_section=content.code %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}{{ content.title }}{% endblock %}

{% block content %}

{% include 'CumtsMainBundle:Default:block.html.twig' %}

<h2>Upcoming Events</h2>
{{ render(controller('CumtsMainBundle:Event:otherEvents')) }}

{% endblock %}
