{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}About Us{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>
    Cambridge University Musical Theatre Society exists to enable high quality musical theatre to be staged in
    Cambridge and to allow its members opportunities to hone their skills, be it as a performer, musician, techie
    or production team member. Find out more about how we do this.
</p>
<p>
    Throughout the year, CUMTS puts on a variety of performances, ranging from informal cabaret-style 'Bar Nights' to
    full blown stage musicals (check out our current show) For venues, we regularly use the ADC theatre and bar area,
    as well as Clare Cellars and the Cambridge Union.
</p>
<p>
    CUMTS is headed by a committee of current students which oversees the day to day running of the society. Individual
    shows are managed by a production team appointed by the committee. Throughout the production, the committee is on
    hand to offer help and advice and to ensure the show runs smoothly.
</p>
<p>
    To find out more about how you can get involved, <a href="{{ path('CumtsMainBundle_get_involved') }}">click here.</a>
    If you have any further questions about productions or
    the society in general, please contact one of the committee members. Their contact details can be found here.
    We would love to hear any comments or suggestions that you may have about the society.
</p>

<h2>The Committee</h2>

<h3>President: Guy Woolf</h3>


<h3>Secretary: Maria Montague</h3>

<h3>Treasurer: Bella Lamplough-Shields</h3>
{% endblock %}