{% set current_section='events_archive' %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Shows &amp; Events{% endblock %}

{% block content %}
<h1>Past Events</h1>

<div class="paginator">
{{ pagerfanta(entities) }}
</div>

{% for entity in entities %}
{% include 'CumtsMainBundle:Event:item.html.twig' %}
{% endfor %}

<div class="paginator">
{{ pagerfanta(entities) }}
</div>

{% endblock %}
