{% set current_section='events' %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Shows &amp; Events{% endblock %}

{% block content %}
<h1>Events</h1>

{% for entity in entities %}
{% include 'CumtsMainBundle:Event:item.html.twig' %}
{% endfor %}

{% endblock %}
