{% set current_section='events' %}
{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Shows &amp; Events{% endblock %}

{% block content %}
<div class="right_link">
<a href="{{ path("CumtsMainBundle_events_archive") }}">View Archive</a>
</div>
<h1>Events</h1>

{% for entity in entities %}
{% include 'CumtsMainBundle:Event:item.html.twig' %}
{% endfor %}

{% endblock %}
