{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Get Involved{% endblock %}

{% block content %}

    {{ sonata_block_render({
    'name': '/blocks/getting_involved'
    }) }}

<h1>Get Involved</h1>
<p>
    All of the performers, musicians and production team for our shows and bar nights are amateurs and come from
    the student community in Cambridge. Below is some information on how to get involved in each area.
</p>

<h2>Actors, Singers and Dancers</h2>
    <p>
        All our shows hold open auditions for all roles, including chorus parts.
    </p>
<p>
    Details of auditions for are posted on
    <a href="http://www.camdram.net/positions/actors" rel="ext" target="_blank">camdram.net</a>, alongside auditions
    for almost all other student shows in Cambridge. Auditions for major shows tend to be held either at the very
    beginning or the very end of term.
</p>
<p>
    We also want applications to sing in our bar nights, which are generally held once or twice a term. The best
    way to find out about auditions for these is to sign up to our mailing list
    <a href="https://lists.cam.ac.uk/mailman/listinfo/soc-cumts-info" rel="ext" target="_blank">here</a>.
</p>

<h2>Musicians</h2>
<p>
    If you're interested in playing for one of our shows, you can sign up our pit band mailing
    <a href="https://lists.cam.ac.uk/mailman/listinfo/soc-cumts-pitband" rel="ext" target="_blank">here</a>. We also
    occasionally advertise pit band requirements for other societies' shows on the same list.
</p>
<p>
    Musicians are generally called for a few band calls in the few weeks before the show, and are then generally required
    for dress rehearsals (on the Monday and Tuesday before the show opens), as well as the shows themselves.
</p>

<h2>Technicians and production team</h2>
<p>
    All our major shows hold an open application process for production team roles. These are almost always
    advertised on <a href="http://www.camdram.net/positions/production" rel="ext" target="_blank">camdram.net</a>,
    alongside production team vacancies for shows from other Cambridge theatre groups.
</p>
<p>

</p>
<p>
    If you're new to theatre or to Cambridge and are looking to get involved backstage on a show (e.g. in lighting, sound,
    set building/painting, costuming, props and stage management), then it's worth getting in touch with the producer of
    a show directly (you can find their name on the show page on this website, or contact us if you're having problems).
    Not all shows advertise for these positions, but many shows are short of crew so there's no harm in getting
    in touch, right up to opening night!
</p>

<h2>Put on a show</h2>
<p>
    All of our shows are decided upon based on applications from potential production teams. We normally open
    applications for shows towards the beginning of the previous term (e.g. around Week 1 of Easter Term for our flagship
    Michaelmas Term Week 5 slot in the ADC Theatre) - keep an eye on this website for details.
</p>
<p>
    You will normally be asked to provide a few pages of notes about your ideas for the show, and an informal interview
    will be held with all applicants.
</p>

{% endblock %}
