{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}{% endblock %}

{% block content %}

<h1>{{ product.name }}</h1>

<p>
    Unfortunately, this item has now sold out.
</p>
{% endblock %}
