{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Welcome to the website for Cambridge University's premier society for musical theatre enthusiasts. We put on at least one show each term at the ADC Theatre, as well as regular bar nights, workshops and theatre trips.</p>
{% endblock %}
