{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Contact Us{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>
Thank you for your message. If your message requires a reply, someone will get in touch with you shortly.
</p>
<p>
    <a href="{{ path('CumtsMainBundle_homepage') }}">Return to the home page</a>
</p>
{% endblock %}
