{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}About Us{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>
For enquires about this website, please contact <a href="mailto:webmaster@cumts.co.uk">webmaster@cumts.co.uk</a>. For all other enquires, please contact <a href="mailto:info@cumts.co.uk">info@cumts.co.uk</a>. Alternatively, you can use the form below.
</p>
<p>
Mail can be sent to:
</p>
<p class="vcard">
    <span class="org">Cambridge University Musical Theatre Society</span><br/>
    <span class="adr">
        <span class="street-address">ADC Theatre<br/>
        Park Street</span><br />
        <span class="locality">Cambridge</span><br/>
        <span class="postal-code">CB5 8AS</span>
    </span>
</p>
<h2>Contact Form</h2>
<form method="post" action="{{ path('CumtsMainBundle_contact_post') }}">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Send</button>
    </p>
</form>
{% endblock %}
