{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}Contact Us{% endblock %}

{% block content %}

{{ render(controller('CumtsMainBundle:Default:block', {content_name: 'contact'})) }}

<h2>Contact Form</h2>
<form method="post" action="{{ path('CumtsMainBundle_contact_post') }}">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Send</button>
    </p>
</form>
{% endblock %}
