{% extends 'CumtsMainBundle::layout.html.twig' %}

{% block pagename %}About Us{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>
For enquires about this website, please contact <a href="mailto:webmaster@cumts.co.uk">webmaster@cumts.co.uk</a>. For all other enquires, please contact <a href="mailto:info@cumts.co.uk">info@cumts.co.uk</a>. Alternatively, you can use the form below.
</p>
<p>
Mail can be sent to:
</p>
<p>
Cambridge University Musical Theatre Society<br />
ADC Theatre<br />
Park Street<br />
Cambridge<br />
CB5 8AS
</p>
<h2>Contact Form</h2>
<form method="post" action="CumtsMainBundle_contact">
<div>

</div>
</form>
{% endblock %}
